.background-container {
  display: flex;
  align-items: center;
}
.info-container {
  display: flex;
  margin-left: 8rem;
  align-items: center;
  justify-content: center;
  .info-poster {
    object-fit: fill;
    display: block;
    width: 20rem;
    height: 29rem;
  }
}

.info {
  margin-left: 5rem;
  h2 {
    color: #fff;
    font-size: 4.4rem;
  }
  .genres {
    display: flex;
    margin-top: 1rem;
    p {
      color: #ecebe8;
      font-size: 1.1rem;
      padding-top: 0.5rem;
      padding-left: 0.8rem;
    }
  }
  .rating {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    p {
      font-size: 2.4rem;
      padding-top: 0.5rem;
      padding-left: 0.8rem;
      color: #fd7f03;
    }
    .attention {
      color: red;
      font-size: 1rem;
    }
  }

  input[type="radio"] {
    display: none;
  }

  .star {
    cursor: pointer;
    transition: color 100ms;
    font-size: 1.5rem;
    margin-top: 0.85rem;
    //margin-left: 0.3rem;
  }

  .stars-container {
    display: flex;
    margin-left: 0.6rem;
  }
}

.synopsis-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .immersion-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p {
      font-weight: bold;
      background-color: #ced4d2;
      padding: 4rem;
      font-size: 1.4rem;
      width: 85%;
    }
    .data {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1rem;
      //margin-top: 5rem;
      //margin-bottom: 5rem;
      width: 12rem;
      color: #fff;
      background-color: #222;
      //clip-path: polygon(0 0, 100% 0%, 90% 31%, 0 31%);
    }
  }
}

.trailer-carousel {
  justify-content: center;
  display: flex;
  width: 100%;
  //overflow-y: hidden;
  overflow-x: scroll;
}
