@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  background-color: #222;
  font-size: 1.25rem;
  .navbar {
    width: 25rem;
    .nav-links {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding-right: 3.125rem;
    }
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}

.logo-link {
  font-family: "Oswald", sans-serif;
  font-size: 1.85rem;
  padding-left: 8rem;
  text-decoration: none;
  color: #fff;
}

input {
  background-color: #ecebe8;
  padding: 0.7rem;
  width: 25rem;
  font-size: 1rem;
  border: none;
  border-radius: 2.5rem;
  outline: none;
}

.search-button {
  padding-top: -0.7rem;
  margin-left: -4.1rem;
  font-weight: bold;
  border: none;
  border-radius: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  height: 2.9rem;
  width: 5rem;
  outline: none;
  background: #86943d;
  color: #fff;
  &:hover {
    box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
  }
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  padding-top: 0.62rem;
  padding-right: 2rem;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .hamburger {
    display: block;
    font-size: 2.5rem;
  }
  .search {
    display: none;
  }

  .navbar {
    display: none;
  }
  .logo-link {
    padding-left: 1.15rem;
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 735px) {
  .hamburger {
    display: block;
    font-size: 2rem;
  }
  .logo-link {
    font-size: 1.4rem;
  }
}
