@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  background-color: #222;
  font-size: 1.35rem;
}

.navbar {
  width: 59%;
  display: flex;
  align-items: center;
  .nav-links {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav_links_links {
      width: 24rem;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        padding-left: 2.4rem;
      }
    }
  }
}
a {
  text-decoration: none;
  color: #fff;
}

.header__logo-link {
  font-family: "Oswald", sans-serif;
  font-size: 1.85rem;
  padding-left: 8rem;
  text-decoration: none;
  color: #fff;
}

input {
  background-color: #ecebe8;
  padding: 0.7rem;
  width: 24rem;
  font-size: 1rem;
  border: none;
  border-radius: 2.5rem;
  outline: none;
}

.header__search-button {
  margin-left: -4.9rem;
  font-weight: bold;
  border: none;
  border-radius: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  height: 2.65rem;
  width: 5rem;
  outline: none;
  background: #86943d;
  color: #fff;
  &:hover {
    box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
  }
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  padding-top: 0.62rem;
  padding-right: 1.9rem;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .hamburger {
    display: block;
    font-size: 2.1rem;
    padding-right: 2.5rem;
  }

  .navbar {
    position: absolute;
    right: -100vw;
    top: 7.5rem;
    min-height: 100vh;
    width: 100vw;
    background-color: #000;
    transition: right 0.4s ease-in;
    display: flex;
    flex-direction: column;
    .nav-links {
      margin-top: 7rem;
      padding-right: 0rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        font-size: 1.5rem;
        margin-bottom: 3rem;
      }
    }
    .nav_links_links {
      flex-direction: column;
      align-items: center;
      li {
        padding-right: 2rem;
      }
    }
  }

  .show {
    right: 0;
  }

  .header__logo-link {
    padding-left: 3rem;
  }
}

@media screen and (max-width: 735px) {
  .navbar {
    min-height: 87vh;
  }
  .hamburger {
    display: block;
    font-size: 2rem;
    padding-right: 1.5rem;
  }
  .header__logo-link {
    padding-left: 1.5rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 411px) {
  input {
    width: 20rem;
  }
}

@media screen and (max-width: 350px) {
  input {
    width: 15rem;
  }
}

@media screen and (max-width: 280px) {
  .hamburger {
    display: block;
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  .header__logo-link {
    font-size: 1.2rem;
    padding-left: 1rem;
  }
}
