.showcase {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 17rem);
  margin-top: 11rem;
  row-gap: 2rem;
  .buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 11rem);
    margin-left: 23.8rem;
    button {
      background-color: #222;
      color: #fff;
      cursor: pointer;
      border: 1px solid black;
      margin-top: 5.5rem;
      height: 3.3rem;
      width: 9rem;
      font-size: 1.3rem;
      &:hover {
        background-color: #4c4c4c;
      }
    }
  }
}
